/* @media (min-width:320px)  
/*@media (min-width:768px)  
/*@media (min-width:1281px)  */

html {
  box-sizing: border-box;
}

body {
  background-color: rgb(41, 97, 143);
  color: whitesmoke;
  font-family: serif;
}

h1 {
  font-family: sans-serif;
}

h2,
h3,
h4 {
  font-family: sans-serif;
}

h3 {
  text-decoration: underline;
}

p {
  line-height: 1.5;
  font-size: large;
}

.container {
  margin: auto;
  max-width: 1300px;
}

/* Header styling */
.header {
  background-image: url(../img/mountain-banner.jpg);
  background-position: 50% 75%;
  background-size: cover;
  text-align: center;
  padding: 1em;
  margin-bottom: 2em;
  min-height: 25vh;
}

h1 {
  letter-spacing: 10px;
  position: relative;
  text-transform: uppercase;
}

/* Article Styling */
article,
aside {
  margin: 2em;
}

article header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

article img {
  height: auto;
  width: 100%;
}

.read-more {
  color: aqua;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  height: 40px;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
  line-height: 2.5em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #4682b4;
}

.read-more::after {
  content: '►';
  position: relative;
  left: 7px;
  font-size: 80%;
  top: -1px;
}

.read-more:hover {
  background: #f28c28;
}

/*Blog Post Styling */
.blog-post-wrapper {
  margin: 2em;
  padding: 50px 60px;
  text-align: center;
  background-color: #4682b4;
  display: inline-block;
}

.diagram-1 {
  margin: 0;
  text-align: left;
}

.text-1 {
  text-align: left;
  float: left;
  margin: 20px;
}

.diagram-2 {
  text-align: left;
  margin: 0 80px 40px 80px;
  display: inline-block;
  float: left;
}

.text-2 {
  text-align: left;
  float: right;
  margin: 30px 100px 0 70px;
}

pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  background: lightslategray;
  margin: 0 20em 0 20em;
}

.code-text {
  color: black;
  display: block;
  font-size: 16px;
  font-style: normal;
  line-height: 1.18;
  font-weight: 400;
}

.blog-post-image {
  height: auto;
  width: 50%;
  padding: 2em 0em 2em 0em;
}

.list {
  padding: 2em 10em 2em 10em;
  text-align: left;
}

.paragraph {
  padding: 1em 10em 1em 10em;
}

/*Margin and Padding example styling */
.parent {
  background-color: wheat;
  display: inline-block;
  margin: 10px;
}

.child {
  background-color: #f28c28;
  border-radius: 10px;
  color: wheat;
  padding: 20px;
  display: inline-block;
  text-align: center;
}

.child-2 {
  background-color: #07550b;
  border-radius: 10px;
  color: wheat;
  padding: 20px;
  display: inline-block;
  text-align: center;
}

.child-3 {
  background-color: #f2288d;
  border-radius: 10px;
  color: wheat;
  padding: 20px;
  display: inline-block;
  text-align: center;
}

#div-0 {
  margin: 80px;
}

#div-1 {
  margin: 80px 22px 80px 22px;
}

#div-2 {
  margin-top: 80px;
  margin-right: -20px;
  margin-bottom: 80px;
  margin-left: 0;
}

#div-3 {
  margin-top: 80px;
  margin-right: 30px;
  margin-bottom: 80px;
  margin-left: 0;
}

#div-4 {
  margin-top: 80px;
  margin-right: -20px;
  margin-bottom: 80px;
  margin-left: 30px;
}

#div-5 {
  padding: 30px;
  margin: 50px;
}

#div-6 {
  padding: 60px;
  margin: 50px;
}

#div-7 {
  border: #f2288d;
  border-style: solid;
  border-width: 5px;
  margin: 80px;
  padding: 50px;
}

/*Sidebar Styling */
aside {
  border-top: 2px solid wheat;
  margin-top: 2em;
  padding-top: 2em;
}

.social-link {
  display: inline-block;
  margin-right: 0.75em;
}

/*Footer Styling */
footer {
  border-top: 2px solid wheat;
  margin-top: 4em;
  padding: 2em;
  text-align: center;
}

/*Responsive Styling */
@media (min-width: 650px) {
  aside {
    display: flex;
  }

  .sidebar-text {
    margin-left: 0;
  }

  .sidebar-text h2 {
    margin-top: 0;
  }
}

@media (min-width: 1000px) {
  .header {
    min-height: 35vh;
  }

  .container {
    display: flex;
  }

  main {
    flex: 1 1 70%;
  }

  aside {
    display: block;
    border-top: 0;
    border-left: 2px solid wheat;
    margin: 0;
    padding: 2em;
    flex: 0 1 30%;
    align-self: flex-start;
  }

  .sidebar.text {
    margin-left: 0;
  }

  .sidebar-text h2 {
    margin-top: 0.5em;
  }
}
